<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inital-scale">
  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="..\static\cdn\fontawesome-free-5.9.0-web\css\all.css" rel="stylesheet">
  <title>Ewan Lockwood</title>
</head>
<body>
  <div id='scroll-top-button'>
    <button type="button" class="btn" onClick="document.getElementById('page-container').scrollIntoView();"> <i class="fas fa-level-up-alt"></i> </button>
  </div>
  <div id='page-container' class="page-container container-fluid" style="padding: 0;">
    <div class="header-jumbo jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="title-col col-12">
            <h1>Ewan Lockwood</h1>
            <p class="lead">Full-Stack Web Developer</p>
          </div>
        </div>
        <button type="button" class="btn" onClick="document.getElementById('more-info-row').scrollIntoView();"> About Me </button>
      </div>
    </div>
    <div id='more-info-row' class="row">
      <div class="about-me-jumbo jumbotron-fluid">
        <h1 class="display-4">About Me</h1>
        <div class="about-me-card card">
          <img src="../static/images/me.jpg" class="card-img-top" alt="...">
        </div>
        <div class="about-me-paragraph">
          <p>Hello, I am a 19 Year old Full-Stack Web
            Developer who <span>designs</span> and builds
            websites custom made to clients needs
            and budget.</p>
        </div>
      </div>
    </div>
    <div id='packages-row' class="row">
      <!-- Bronze START -->
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div id="pbc" style='background-color: #C7AE8D;'>
          <div id='pbf' style="background-color: #E3D9CC;"> </div>
          <div id="pbfu" style="border-right-color: #AA9274"></div>
        </div>
      </div>
      <!-- Bronze END -->

      <!-- Silver START -->
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div id="psc" style='background-color: #CBC7C2;'>
          <div id='psf' style="background-color: #EEECEB;"> </div>
          <div id="psfu" style="border-right-color: #B2AFAB;"></div>
        </div>
      </div>
      <!-- Silver END -->

      <!-- Gold START -->
      <div class="col-xs-12 col-md-12 col-lg-4">
        <div id="pgc" style="background-color: #F2DCA1;">
          <div id='pgf' style="background-color: #F2ECDB;"> </div>
          <div id="pgfu" style="border-right-color: #CEB983;"></div>
        </div>
      </div>
      <!-- Gold END -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
