@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
html {
  scroll-behavior: smooth;
  background-color: #0c061e; }

.modal button {
  border-radius: 0;
  border: none; }

#scroll-top-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1; }
  #scroll-top-button button {
    font-size: 23px;
    color: #0c061e; }

.page-container, .container-fluid {
  font-family: 'Poppins', sans-serif;
  padding: 0; }
  .page-container .header-jumbo, .container-fluid .header-jumbo {
    background-image: url("../images/footer-2.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0; }
    .page-container .header-jumbo .row, .container-fluid .header-jumbo .row {
      height: 85vh; }
      .page-container .header-jumbo .row .title-col, .container-fluid .header-jumbo .row .title-col {
        padding: 0 25px; }
        .page-container .header-jumbo .row .title-col h1, .container-fluid .header-jumbo .row .title-col h1 {
          color: white;
          font-size: 44px;
          text-align: left;
          margin: 0;
          font-family: 'EB Garamond', serif; }
        .page-container .header-jumbo .row .title-col p, .container-fluid .header-jumbo .row .title-col p {
          color: #ecdeae;
          font-style: italic;
          font-size: 12px;
          line-height: 0px; }
    .page-container .header-jumbo button, .container-fluid .header-jumbo button {
      background-color: #ecdeae;
      letter-spacing: 1px;
      font-size: 18px;
      font-family: 'Poppins', serif;
      display: block;
      margin: auto;
      color: white;
      border-radius: 0; }
  .page-container #more-info-row, .container-fluid #more-info-row {
    height: 100vh;
    width: 100%;
    margin: 0; }
    .page-container #more-info-row .about-me-jumbo, .container-fluid #more-info-row .about-me-jumbo {
      width: 100%;
      background-color: white;
      padding: 25px 0; }
      .page-container #more-info-row .about-me-jumbo h1, .container-fluid #more-info-row .about-me-jumbo h1 {
        text-align: center;
        margin-bottom: 25px;
        color: #0c061e;
        font-family: 'EB Garamond', serif; }
      .page-container #more-info-row .about-me-jumbo .about-me-card, .container-fluid #more-info-row .about-me-jumbo .about-me-card {
        display: block;
        margin: auto;
        border: none;
        width: 100vw;
        height: 375px; }
      .page-container #more-info-row .about-me-jumbo .about-me-paragraph, .container-fluid #more-info-row .about-me-jumbo .about-me-paragraph {
        margin: 41px 0;
        background: transparent; }
        .page-container #more-info-row .about-me-jumbo .about-me-paragraph p, .container-fluid #more-info-row .about-me-jumbo .about-me-paragraph p {
          font-size: 15px;
          color: #0c061e;
          padding: 0 5vh;
          text-align: center;
          letter-spacing: 0.5px; }
          .page-container #more-info-row .about-me-jumbo .about-me-paragraph p span, .container-fluid #more-info-row .about-me-jumbo .about-me-paragraph p span {
            font-family: 'Pacifico', cursive;
            color: #ecdeae;
            font-size: 22px;
            line-height: 15px; }
  .page-container #packages-row, .container-fluid #packages-row {
    height: auto;
    width: 100%;
    margin: 0; }
    .page-container #packages-row #pbc,
    .page-container #packages-row #psc,
    .page-container #packages-row #pgc, .container-fluid #packages-row #pbc,
    .container-fluid #packages-row #psc,
    .container-fluid #packages-row #pgc {
      height: 550px;
      width: 300px;
      display: block;
      margin: 0 auto 30px;
      position: relative; }
      .page-container #packages-row #pbc #pbh,
      .page-container #packages-row #pbc #psh,
      .page-container #packages-row #pbc #pgh,
      .page-container #packages-row #psc #pbh,
      .page-container #packages-row #psc #psh,
      .page-container #packages-row #psc #pgh,
      .page-container #packages-row #pgc #pbh,
      .page-container #packages-row #pgc #psh,
      .page-container #packages-row #pgc #pgh, .container-fluid #packages-row #pbc #pbh,
      .container-fluid #packages-row #pbc #psh,
      .container-fluid #packages-row #pbc #pgh,
      .container-fluid #packages-row #psc #pbh,
      .container-fluid #packages-row #psc #psh,
      .container-fluid #packages-row #psc #pgh,
      .container-fluid #packages-row #pgc #pbh,
      .container-fluid #packages-row #pgc #psh,
      .container-fluid #packages-row #pgc #pgh {
        position: absolute;
        width: 100%;
        text-align: center;
        font-family: 'EB Garamond', serif; }
        .page-container #packages-row #pbc #pbh h1,
        .page-container #packages-row #pbc #psh h1,
        .page-container #packages-row #pbc #pgh h1,
        .page-container #packages-row #psc #pbh h1,
        .page-container #packages-row #psc #psh h1,
        .page-container #packages-row #psc #pgh h1,
        .page-container #packages-row #pgc #pbh h1,
        .page-container #packages-row #pgc #psh h1,
        .page-container #packages-row #pgc #pgh h1, .container-fluid #packages-row #pbc #pbh h1,
        .container-fluid #packages-row #pbc #psh h1,
        .container-fluid #packages-row #pbc #pgh h1,
        .container-fluid #packages-row #psc #pbh h1,
        .container-fluid #packages-row #psc #psh h1,
        .container-fluid #packages-row #psc #pgh h1,
        .container-fluid #packages-row #pgc #pbh h1,
        .container-fluid #packages-row #pgc #psh h1,
        .container-fluid #packages-row #pgc #pgh h1 {
          margin-top: 14px;
          font-size: 60px;
          color: white; }
        .page-container #packages-row #pbc #pbh hr,
        .page-container #packages-row #pbc #psh hr,
        .page-container #packages-row #pbc #pgh hr,
        .page-container #packages-row #psc #pbh hr,
        .page-container #packages-row #psc #psh hr,
        .page-container #packages-row #psc #pgh hr,
        .page-container #packages-row #pgc #pbh hr,
        .page-container #packages-row #pgc #psh hr,
        .page-container #packages-row #pgc #pgh hr, .container-fluid #packages-row #pbc #pbh hr,
        .container-fluid #packages-row #pbc #psh hr,
        .container-fluid #packages-row #pbc #pgh hr,
        .container-fluid #packages-row #psc #pbh hr,
        .container-fluid #packages-row #psc #psh hr,
        .container-fluid #packages-row #psc #pgh hr,
        .container-fluid #packages-row #pgc #pbh hr,
        .container-fluid #packages-row #pgc #psh hr,
        .container-fluid #packages-row #pgc #pgh hr {
          width: 60%;
          border-top: solid 3px white; }
      .page-container #packages-row #pbc #pbcontent,
      .page-container #packages-row #pbc #pscontent,
      .page-container #packages-row #pbc #pgcontent,
      .page-container #packages-row #psc #pbcontent,
      .page-container #packages-row #psc #pscontent,
      .page-container #packages-row #psc #pgcontent,
      .page-container #packages-row #pgc #pbcontent,
      .page-container #packages-row #pgc #pscontent,
      .page-container #packages-row #pgc #pgcontent, .container-fluid #packages-row #pbc #pbcontent,
      .container-fluid #packages-row #pbc #pscontent,
      .container-fluid #packages-row #pbc #pgcontent,
      .container-fluid #packages-row #psc #pbcontent,
      .container-fluid #packages-row #psc #pscontent,
      .container-fluid #packages-row #psc #pgcontent,
      .container-fluid #packages-row #pgc #pbcontent,
      .container-fluid #packages-row #pgc #pscontent,
      .container-fluid #packages-row #pgc #pgcontent {
        position: absolute;
        top: 25%;
        width: 100%; }
        .page-container #packages-row #pbc #pbcontent ul,
        .page-container #packages-row #pbc #pscontent ul,
        .page-container #packages-row #pbc #pgcontent ul,
        .page-container #packages-row #psc #pbcontent ul,
        .page-container #packages-row #psc #pscontent ul,
        .page-container #packages-row #psc #pgcontent ul,
        .page-container #packages-row #pgc #pbcontent ul,
        .page-container #packages-row #pgc #pscontent ul,
        .page-container #packages-row #pgc #pgcontent ul, .container-fluid #packages-row #pbc #pbcontent ul,
        .container-fluid #packages-row #pbc #pscontent ul,
        .container-fluid #packages-row #pbc #pgcontent ul,
        .container-fluid #packages-row #psc #pbcontent ul,
        .container-fluid #packages-row #psc #pscontent ul,
        .container-fluid #packages-row #psc #pgcontent ul,
        .container-fluid #packages-row #pgc #pbcontent ul,
        .container-fluid #packages-row #pgc #pscontent ul,
        .container-fluid #packages-row #pgc #pgcontent ul {
          list-style: none;
          padding: 0;
          margin: 0;
          text-align: center; }
          .page-container #packages-row #pbc #pbcontent ul li,
          .page-container #packages-row #pbc #pscontent ul li,
          .page-container #packages-row #pbc #pgcontent ul li,
          .page-container #packages-row #psc #pbcontent ul li,
          .page-container #packages-row #psc #pscontent ul li,
          .page-container #packages-row #psc #pgcontent ul li,
          .page-container #packages-row #pgc #pbcontent ul li,
          .page-container #packages-row #pgc #pscontent ul li,
          .page-container #packages-row #pgc #pgcontent ul li, .container-fluid #packages-row #pbc #pbcontent ul li,
          .container-fluid #packages-row #pbc #pscontent ul li,
          .container-fluid #packages-row #pbc #pgcontent ul li,
          .container-fluid #packages-row #psc #pbcontent ul li,
          .container-fluid #packages-row #psc #pscontent ul li,
          .container-fluid #packages-row #psc #pgcontent ul li,
          .container-fluid #packages-row #pgc #pbcontent ul li,
          .container-fluid #packages-row #pgc #pscontent ul li,
          .container-fluid #packages-row #pgc #pgcontent ul li {
            font-size: 24px;
            color: white;
            margin-bottom: 21px;
            padding: 0 25px; }
      .page-container #packages-row #pbc #pbfu,
      .page-container #packages-row #pbc #psfu,
      .page-container #packages-row #pbc #pgfu,
      .page-container #packages-row #psc #pbfu,
      .page-container #packages-row #psc #psfu,
      .page-container #packages-row #psc #pgfu,
      .page-container #packages-row #pgc #pbfu,
      .page-container #packages-row #pgc #psfu,
      .page-container #packages-row #pgc #pgfu, .container-fluid #packages-row #pbc #pbfu,
      .container-fluid #packages-row #pbc #psfu,
      .container-fluid #packages-row #pbc #pgfu,
      .container-fluid #packages-row #psc #pbfu,
      .container-fluid #packages-row #psc #psfu,
      .container-fluid #packages-row #psc #pgfu,
      .container-fluid #packages-row #pgc #pbfu,
      .container-fluid #packages-row #pgc #psfu,
      .container-fluid #packages-row #pgc #pgfu {
        height: 200px;
        width: 100%;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid;
        border-width: 100px 300px 100px 0; }
      .page-container #packages-row #pbc #pbf,
      .page-container #packages-row #pbc #psf,
      .page-container #packages-row #pbc #pgf,
      .page-container #packages-row #psc #pbf,
      .page-container #packages-row #psc #psf,
      .page-container #packages-row #psc #pgf,
      .page-container #packages-row #pgc #pbf,
      .page-container #packages-row #pgc #psf,
      .page-container #packages-row #pgc #pgf, .container-fluid #packages-row #pbc #pbf,
      .container-fluid #packages-row #pbc #psf,
      .container-fluid #packages-row #pbc #pgf,
      .container-fluid #packages-row #psc #pbf,
      .container-fluid #packages-row #psc #psf,
      .container-fluid #packages-row #psc #pgf,
      .container-fluid #packages-row #pgc #pbf,
      .container-fluid #packages-row #pgc #psf,
      .container-fluid #packages-row #pgc #pgf {
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0; }

footer {
  height: 100vh;
  width: 100%;
  background-color: #383838;
  text-align: center;
  color: white; }

@media (min-width: 767px) {
  .page-container #more-info-row .about-me-jumbo .about-me-card {
    width: 65vw;
    height: auto; } }
@media (min-width: 1023px) {
  .page-container #more-info-row {
    margin-bottom: 200px; }
    .page-container #more-info-row .about-me-jumbo .about-me-card {
      width: 35vw;
      height: auto; } }

/*# sourceMappingURL=main.css.map */
