@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
html {
  scroll-behavior: smooth;
  background-color: #0c061e; }

#scroll-top-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1; }
  #scroll-top-button button {
    font-size: 23px;
    color: #0c061e; }

.page-container {
  font-family: 'Poppins', sans-serif;
  padding: 0; }
  .page-container .header-jumbo {
    background-image: url("../images/jumbotron-bg.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0; }
    .page-container .header-jumbo .row {
      height: 85vh; }
      .page-container .header-jumbo .row .title-col {
        padding: 0 25px; }
        .page-container .header-jumbo .row .title-col h1 {
          color: white;
          font-size: 44px;
          text-align: left;
          margin: 0;
          font-family: 'EB Garamond', serif; }
        .page-container .header-jumbo .row .title-col p {
          color: #ecdeae;
          font-style: italic;
          font-size: 12px;
          line-height: 0px; }
    .page-container .header-jumbo button {
      background-color: #ecdeae;
      letter-spacing: 1px;
      font-size: 18px;
      font-family: 'Poppins', serif;
      display: block;
      margin: auto;
      color: white;
      border-radius: 0; }
  .page-container #more-info-row {
    height: 100vh;
    width: 100%;
    margin: 0; }
    .page-container #more-info-row .basic-site-card {
      margin-top: 40px;
      height: 220px;
      border: none; }
      .page-container #more-info-row .basic-site-card h2 {
        text-align: center;
        margin-bottom: 25px; }
      .page-container #more-info-row .basic-site-card .card-body .card-text i {
        color: orange; }
      .page-container #more-info-row .basic-site-card .card-body button {
        display: block;
        margin: auto;
        background-color: green; }
    .page-container #more-info-row .about-me-jumbo {
      width: 100%;
      background-color: white;
      padding: 25px 0; }
      .page-container #more-info-row .about-me-jumbo h1 {
        text-align: center;
        margin-bottom: 25px;
        color: #0c061e;
        font-family: 'EB Garamond', serif; }
      .page-container #more-info-row .about-me-jumbo .about-me-card {
        display: block;
        margin: auto;
        border: none;
        width: 100vw; }
      .page-container #more-info-row .about-me-jumbo .about-me-paragraph {
        margin: 41px 0;
        background: transparent; }
        .page-container #more-info-row .about-me-jumbo .about-me-paragraph p {
          font-size: 15px;
          color: #0c061e;
          padding: 0 5vh;
          text-align: center;
          letter-spacing: 0.5px; }
          .page-container #more-info-row .about-me-jumbo .about-me-paragraph p span {
            font-family: 'Pacifico', cursive;
            color: #ecdeae;
            font-size: 22px;
            line-height: 15px; }

/*# sourceMappingURL=main.css.map */
